<div class="footer container-lg mt-6">

  <div class="flex flex-wrap pt-2">

    <div class="col-12 col-sm-12 col-md-12 pt-3 pb-3 pr-0 pl-0 text-white flex" style="flex-direction: column;
    justify-content: center;
    align-items: center;">
      <div class="y-1">
        <h6 class="font-sz">Made with <span><i class="fas fa-heart"></i></span> & <span><i
              class="fas fa-coffee"></i></span> on <img style="height: 19px;width: 19px;" src="./assets/gcp.svg" alt="Voting system by himanshu saraswat on Google cloud and firebase with angular"> by Himanshu
          Saraswat</h6>
      </div>
      <div>
        <h6 class="font-sz">Find Me at: 
          <a href="https://www.linkedin.com/in/himanshusaraswat/" target="_blank"><i
              class="fab fa-2x fa-linkedin"></i></a>
          <a href="https://github.com/himanshusaraswat " target="_blank"><i
              class="fab fa-2x fa-github"></i></a>
          <a href="https://medium.com/@himanshusaraswat" target="_blank"><i class="fab fa-2x fa-medium"></i></a>
          </h6>
      </div>
    </div>
  </div>
</div>
