<ng-container *ngIf="!(auth.isUserFound | async)?.isLoggedIn && (auth.isLoading | async ) ===false">
<div class="container mt-5">
  <div class="d-md-flex mb-5 flex-items-center gutter-md-spacious">

    <form class="mx-auto login-box col-sm-12 col-lg-8" [formGroup]="existingUserForm" (ngSubmit)="login()">
      <div class="form-container mt-md-0 mb-md-0">
        <div class="text-center">
          <h3 class="dark-grey-text">
            <strong>{{isEmailMissingInfo?.emailMissing ? 'Verify Email' : 'Sign in'}}</strong>
          </h3>
          <small id="emailHelp" class="form-text text-muted mb-3" style="text-align: center;font-size: 13px">
            {{isEmailMissingInfo?.emailMissing ? '' : 'Please enter your email ID below. We will mail
            you a unique
            login link right away.'}}
          </small>
        </div>
        <div class="form-group">
          <input blockCopyPaste autocomplete="off" type="email" id="existingEmail" class="form-control"
            formControlName="existingEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
          <div *ngIf="existingFormErrors.existingEmail" class="alert">
            {{ existingFormErrors.existingEmail }}
          </div>
        </div>
        <div class="d-flex justify-content-center" style="flex-direction: column;font-size: 13px;">
          <small id="emailHelp" class="mt-4 mb-2 form-text text-muted" style="text-align: center;">
            <strong>Note: </strong>The email link can be used only once. If you need a new email login later on, you can
            simply enter your email above again to get a fresh login link.
          </small>
          <button type="submit" class="text-center mb-4 btn blue-gradient btn-full btn-rounded z-depth-1a "
            [disabled]="!existingUserForm.valid">Get sign in link</button>
        </div>
      </div>
    </form>
  </div>

</div>
</ng-container>

