::ng-deep {
  .mobile {
    bottom: 0px;
  }

  .mat-form-field {
    font-family: 'Montserrat',
    sans-serif;
  }

  .mat-hint {
    padding: 0.25em 0;
  }
}

.custom-text-muted {
  color: #6c757d
}

.vl {
  border-left: 2px solid #5a5a5a;
  height: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.role-section {
  align-content: center;
  align-items: center;
  height: 60px;
  color: #6c757d;
}

.alert {
  background: #f2edda;
  padding: 5px;
  font-size: .9em;
  margin-top: 0.5em;
  margin-bottom: 3px;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

.button {
  margin-top: 3rem;
}

h1 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 1em;
}

.btn-primary {
  background-color: #bd86a9;
  border-color: #bd86a9;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #bd86a9;
  border-color: #bd86a9;
}

.login-box {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border: 0;
  font-weight: 400;
  border-radius: .25rem;
}

.dark-grey-text {
  color: #4f4f4f !important;
}

h3>strong {
  // background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  color: #ff0202;
  // background-image: linear-gradient(to right, #8f53d7, #4840bb, #4840bb, #09f);
  padding: 30px 0 10px 0;
  font-size: 2rem;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -webkit-box-decoration-break: clone;
  // box-decoration-break: clone;
  display: block;

}

.btn-block {
  width: 75%;
}

.btn-full {
  width: 100%;
}

.btn.disabled,
.btn:disabled {
  opacity: .25;
  cursor: not-allowed;
}

@keyframes alertAnim {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.help {
  display: block;
  font-size: .75rem;
  margin-top: .25rem;
}

.help.is-info {
  color: #209cee;
  padding: 0.25em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #1c90f3;
  font-weight: 700;
}

// Google-Button
.facebook-button {
  cursor: not-allowed;
  background: #3C5A99;
}

.google-button {
  background: white;
}

.social-button {
  height: 40px;
  border-width: 0;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(133, 113, 113, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat',
  sans-serif;
}

.facebook-button__text {
  color: #ffffff;
}

.google-button__text {
  color: #737373;

}

a:hover.login-link-hover,
button:hover.sign-up-link-hover {
  color: #043ec8 !important;
  text-decoration: none !important;
}

@media (max-width: 767px) {
  .font-85 {
    font-size: 85%;
  }
}

.custom-vert-align-middle {
  vertical-align: middle;
}
